@import url("photographer.css");

:root {
    --color-primary: #901C1C;
    --color-secondary: #D3573C;
    --color-tertiary: #DB8876;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--color-primary);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: var(--color-secondary);
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    transition: all 0.2s ease-out;
}

.photographer_section:hover>* img,
a:focus+img {
    opacity: .5;
}

.photographer_section:hover>*:hover img,
a:focus-visible>*:focus-visible img {
    transform: scale(1.1);
    opacity: 1;
}

.city-and-country {
    color: var(--color-primary);
    font-size: 20px;
}

.price {
    color: #757575;
}

*:focus {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Smartphone */
@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    header h1,
    header .logo {
        margin: 0;
    }

    .photographer_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .photographer_section:hover>* img,
    a:focus+img {
        opacity: 1;
    }

    .media-gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
    }

    .media-gallery img, video{
        width: 300px;
        height: 300px;
    }

    .photographer-header{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .photographer-header article{
        flex-direction: column-reverse;
        height: inherit;

    }

    .sort{
        display: flex;
        align-items: center;
        margin: 150px 0 0 0;
    }

    .photographer-header .contact_button{
        position: inherit;
    }
}